<nav>
    <div class="left-section">
        <h1>Sera's CRUDdy Shop</h1>
        <p>An online shopping simulator app to get your fix without hurting your wallet.</p>
        <div class="nav-links">
            <a href="/">Shop All</a>
            <a href="#">Makeup</a>
            <a href="#">Skincare</a>
            <a href="#">Loungewear</a>
            <a href="#">Accessories</a>
        </div>
    </div>
    <div class="cart-container">
        <a href="#">
            <div class="cart-icon"></div>
        </a>
    </div>
</nav>

