<nav>
    <div class="left-section">
        <h1>Sera's CRUDdy Shop</h1>
        <p>An online shopping simulator app to get your fix without hurting your wallet.</p>
        <div class="nav-links">
            <a href="/">Shop All</a>
            <a href="/category/Makeup">Makeup</a>
            <a href="/category/Skincare">Skincare</a>
            <a href="/category/Loungewear">Loungewear</a>
        </div>
    </div>
    <div class="cart-container">
        <a href="/cart">
            <div class="cart-icon"></div>
        </a>
    </div>
</nav>

