<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sera's CRUDdy shop</title>
  </head>
  <body>
    <h1>Welcome to Sera's CRUDdy shop!</h1>
    <p>An online shopping simulator app to get your fix without hurting your wallet.</p>
  </body>
</html>